<section id="hero" class="hero-section">
  <div class="hero-content" [@fadeIn]>
    <h1>Sitaram Keshari Mahapatra</h1>
    <p>Associate Software Developer</p>

    <!-- <br>

    <a class="scroll-down" href="#about">
      <i class="fa-solid fa-caret-down"></i>
    </a>

    <br> -->

    <!-- Icon Buttons -->
    <div class="icon-buttons">
  <a href="https://github.com/yourusername" data-label="GitHub">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/sitaram-keshari-mahapatra/" data-label="LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="assets/Sitaram_Keshari_2025.pdf" download="Sitaram_Keshari_Resume.pdf" data-label="Resume">
    <i class="fas fa-file-alt"></i>
  </a>
  <a href="mailto:sitaramkesharim@example.com" data-label="Email">
    <i class="fas fa-paper-plane"></i>
  </a>
</div>
  </div>

  <!-- Particle Background -->
  <div id="particles-js"></div>
</section>
