<app-navbar></app-navbar>

<section id="hero">
  <app-hero></app-hero>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<section id="about">
  <app-about></app-about>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<section id="work">
  <app-work></app-work>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<section id="projects">
  <app-projects></app-projects>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<section id="skills">
  <app-skills></app-skills>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<section id="education">
  <app-education></app-education>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<section id="contact">
  <app-contact></app-contact>
</section>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-footer></app-footer>
