<section id="skills" class="skills-section">
  <div class="container">
    <h2>Skills</h2>
    <!-- <div class="skills-list">
      <div class="skill" *ngFor="let skill of skills">
        <h3>{{ skill.name }}</h3>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="skill.level"></div>
        </div>
      </div>
    </div> -->
   <div class="skills-row">
  <div *ngFor="let skill of skills" class="skill-item" [title]="skill.name">
    <div class="icon" [innerHTML]="skill.svg"></div>
  </div>
</div>



  </div>
</section>
